#black_screen_alert {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 10;
	overflow: hidden;
}

#alert {
	width: 390px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -195px;
	z-index: 11;
}

#alert #headalert {
	width: 361px;
	height: 5px;
	background: #fa4b2a;
	-webkit-border-radius:	5px 5px 0px 0px;
	-moz-border-radius: 	5px 5px 0px 0px;
	border-radius: 			5px 5px 0px 0px;
	float: left;
}

#alert #action_alert {
	width: 360px;
	padding: 15px;
	background: #f5f5f5;
	color: red;
	font-family: arial;
	font-size: 17px;
	float: left;
	
}

#alert #message {
	width: 360px;
	padding: 15px;
	background: #fff;
	color: #978888;
	font-family: arial;
	font-size: 14px;
	float: left;
	-webkit-border-radius:	0px 0px 5px 5px;
	-moz-border-radius: 	0px 0px 5px 5px;
	border-radius: 			0px 0px 5px 5px;
}

#alert #messagetext {
	width: 360px;
	float: left;
}

#alert #closebutton {
	height: 30px;
	line-height: 30px;
	float: right;
	padding: 0px 10px;
	color: #fff;
	font-family: arial;
	font-size: 14px;
	-webkit-border-radius:	5px;
	-moz-border-radius: 	5px;
	border-radius: 			5px;
	background: #fa4b2a;
	cursor: pointer;
}